body {
    font-family: Arial;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
#pokemon {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: inline-block;
    text-align: center;
}