body {
  font-family: Arial;
  background: #f1f5f9;
  padding: 20px;
}

#container {
  max-width: 430px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 75%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  background: #0ea5e9;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0284c7;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
}

th {
  background: #e0f2fe;
  text-transform: capitalize;
}

img {
  margin-top: 10px;
  width: 130px;
}

